// NOTE: button
$button-background-color: var(--dark-blue-color);
$button-text-color: var(--white-color);

$button-background-color-rev: var(--white-color);
$button-text-color-rev: var(--dark-blue-color);

// NOTE: card
$card-background-color: var();
$card-footer-title-text-color: var();
$card-footer-sub-title-text-color: var();

// NOTE: desktop-filters
$d-filter-title-color: var();
$d-filter-options-color: var();

// NOTE: dialog
$dialog-header-background-color: var();
$dialog-header-text-color: var();
