@import "./assets-colors";

@mixin submit-button {
  flex: 1;
  margin: 5px;
  border: 0px;
  padding: 10px;
  text-transform: uppercase;
  color: $button-text-color;
  background-color: $button-background-color;
}

@mixin submit-button-dark {
  flex: 1;
  margin: 5px;
  border: 0px;
  padding: 10px;
  text-transform: uppercase;
  color: $button-text-color-rev;
  background-color: $button-background-color-rev;
}
