.app-root {
  // display: flex;
  // justify-content: center;
  .content-wrapper {
    width: 100%;
    margin-top: 50px;
    .left-block {
      width: 18%;
      float: left;
    }
    .right-block {
      width: 80%;
      float: right;
    }
  }
}

@media (max-width: 720px) {
  .app-root {
    .content-wrapper {
      width: 100%;
      .left-block {
        display: none;
      }
      .right-block {
        width: 100%;
      }
    }
  }
}
