:root {
  --white-color: rgba(255, 255, 255, 1);
  --off-white-color: #eee;
  --off-white-ccc-color: #ccc;
  --off-white-variant-color: #f1f1f1;
  --dark-blue-color: #303f9f;
  --dark-black-color: #111;
  --black-color: #000;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Questrial", sans-serif;
}
