.product-card {
  margin: 20px 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 20%;
  overflow: hidden;
  position: relative;
  .card-body {
    width: 100%;
    .img-wrapper {
      display: flex;
      justify-content: center;
      img {
        width: 100%;
        transition: 0.4s all cubic-bezier(0.215, 0.61, 0.355, 1);
        &:hover {
          transition: 0.4s all cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: scale(1.012);
          cursor: pointer;
        }
      }
    }
    .name {
      font-weight: 600;
      padding: 5px 5px;
    }
    .short-description {
      color: #888;
      font-size: 0.8rem;
      padding: 2px 5px;
    }
  }
  .card-footer {
    width: 100%;
    .price {
      padding: 2px 5px;
    }
    .size-wrapper {
      color: #3c3c3c;
      display: none;
      position: absolute;
      bottom: 62px;
      width: calc(100% - 20px);
      background: #f5f5f5;
      padding: 8px 10px 8px 10px;
      box-shadow: 0px 0px 2px #9e9e9e;
      div.size-title {
        padding: 2px 0px 5px;
        font-weight: 700;
        font-size: 0.75rem;
      }
      .size-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span {
          padding: 3px;
          text-align: center;
          font-size: 0.75rem;
          border: 1px solid #888;
          background-color: #fff;
          margin: 0px 5px;
          cursor: pointer;
          border-radius: 3px;
          transition: 0.4s all cubic-bezier(0.215, 0.61, 0.355, 1);
          &:first-child {
            margin: 0px 5px 0px 0px;
          }
          &:hover {
            background-color: black;
            transition: 0.4s all cubic-bezier(0.215, 0.61, 0.355, 1);
            color: #fff;
            border: 1px solid black;
          }
        }
      }
    }
  }

  &:hover {
    // box-shadow: 0px 0px 3px #11111147;
    .card-footer {
      .size-wrapper {
        display: block;
        transition: 0.4s all cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

@media (max-width: 720px) {
  .product-card {
    margin: 8px;
    flex: 1 1 35%;
  }
}
