.product-card {
  margin: 20px 60px;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex: 0 0 22%;
  overflow: hidden;
  position: relative;
  .card-body {
    width: 100%;
    .img-wrapper {
      display: flex;
      justify-content: center;
      img {
        width: 100%;
        transition: 0.4s all cubic-bezier(0.215, 0.61, 0.355, 1);
        &:hover {
          transition: 0.4s all cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: scale(1.012);
          cursor: pointer;
        }
      }
    }
    .name {
      font-weight: 600;
      padding: 5px 5px;
    }
    .short-description {
      color: #888;
      font-size: 0.8rem;
      padding: 2px 5px;
      overflow: hidden;
    }
  }
  .card-footer {
    width: 100%;
    .price {
      padding: 2px 5px;
    }
    .size-wrapper {
      color: var(--black-color);
      display: none;
      position: absolute;
      bottom: 62px;
      width: calc(100% - 20px);
      background: var(--white-color);
      padding: 8px 10px 8px 10px;
      box-shadow: 0px 0px 2px #9e9e9e;
      div.size-title {
        padding: 2px 0px 5px;
        font-weight: 700;
        font-size: 0.75rem;
      }
      .size-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span {
          width: 15px;
          padding: 3px;
          text-align: center;
          font-size: 0.75rem;
          border: 1px solid #888;
          background-color: var(--white-color);
          margin: 0px 5px;
          cursor: pointer;
          border-radius: 3px;
          transition: 0.4s all cubic-bezier(0.215, 0.61, 0.355, 1);
          &:first-child {
            margin: 0px 5px 0px 0px;
          }
          &:hover {
            background-color: black;
            transition: 0.4s all cubic-bezier(0.215, 0.61, 0.355, 1);
            color: var(--white-color);
            border: 1px solid black;
          }
        }
      }
    }
  }

  &:hover {
    .card-footer {
      .size-wrapper {
        display: block;
        transition: 0.4s all cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

@media (max-width: 720px) {
  .product-card {
    margin: 8px;
    flex: 0 0 45%;
    max-height: 300px;
    .card-body {
      .name {
        font-size: 1rem;
        padding: 5px 5px 2px 5px;
      }
      .short-description {
        font-size: 0.6rem;
        padding: 0px 5px 5px 5px;
      }
    }
    .card-footer {
      .price {
      }
      .size-wrapper {
        bottom: 58px;
        div.size-title {
          font-size: 0.75rem;
        }
        .size-list {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          overflow: hidden;
          span {
            width: 15px;
            font-size: 0.55rem;
            &:first-child {
              margin: 0px 5px 0px 0px;
            }
            &:hover {
              background-color: black;
              transition: 0.4s all cubic-bezier(0.215, 0.61, 0.355, 1);
              color: var(--white-color);
              border: 1px solid black;
            }
          }
        }
      }
    }
  }
}
